<!DOCTYPE html>
<html>

<head>
  <title>Jokeish App</title>
  <link href="<%= htmlWebpackPlugin.files.publicPath%>/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link href="<%= htmlWebpackPlugin.files.publicPath%>/vendor/css/vis-network.min.css" rel="stylesheet">
  <link href="<%= htmlWebpackPlugin.files.publicPath%>/vendor/css/vis-timeline-graph2d.min.css" rel="stylesheet">
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/react.production.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/react-dom.production.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/babel.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/vis-data.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/vis-network.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/moment.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.publicPath%>/vendor/vis-timeline-graph2d.min.js"></script>
  
  <!-- <script  data-type="module"  data-presets="react" type="text/babel" src="../src/index.js"></script> -->
</head>

<body>
  <div id="root"></div>
</body>

</html>